*{
    margin:0px;
}
.main{
    margin:0px;
   padding:0px;
    height:200vh;
    width:100vw;
    text-align: center;
    background-image:url("fuk.webp");
}
.align{
    text-align: center;
    font-family: "Bree Serif";
    color:black;
    font-weight: bold;
    font-size:50px;
    text-align: center;
    text-decoration: underline;
}
.align:hover{
    color:red;
}
.size1:hover{
    color:red;
}
.align1{
    font-family: "Bree Serif";
    color:red;
    font-weight: bold;
    text-align: center;
    font-size:25px;
}
.root2{
    padding-right: 50px;
    padding-left:25px;
    text-align: center;
    font-family: "Bree Serif";
    font-weight: bold;
}

.root1{
    padding-right:50px;
    padding-left:25px;
    text-align: center;
    font-family: "Bree Serif";
    font-weight: bold;
}
.border1{
    border:10px groove;
    border-color : blue red blue red;
    padding:5px;
    margin-left:20%;
    margin-right:20%;
    border-radius:20px;
    width:1000px;
    text-align: center;
}
/* .size{
    font-size: 100px;
    font-family: "Bree Serif";
} */

.size1{
    font-size: 30px;
    font-family: "Bree Serif";
}


